# Built artifacts
**/build/
*.apk
*.aar
*.ap_
*.dex
*.class

# IDE files
.idea/
*.iml
*.iws
*.ipr
.gradle/
local.properties
captures/
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Secrets & Keys
*.jks
*.keystore
google-services.json

# Kotlin
.kotlin/
